@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --discord-color: rgba(35, 39, 42, 1);
}

/* HEADER */

header {
    background-image: url('imagens/header_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 440px;
    padding: 72px 24px;
}

h1 {
    font-family: 'Luckiest Guy';
    font-weight: normal;
    text-transform: uppercase;
    width: 180px;
    margin-bottom: 35px;
    font-size: 2rem;
}

.botaos {
    margin-top: 35px;
}

.btn {
    display: block;
    width: 100%;
    border-radius: 30px;
    height: 55px;
}

.download {
    color: var(--discord-color);
}

.open {
    margin-top: 15px;
    background: var(--discord-color);
    color: white;
}

.btn:hover {
    cursor: pointer;
}

/* MAIN */

.secao {
    padding: 30px 24px;
}

h2 {
    margin: 24px 0px;
    font-weight: 800;
    font-size: 1.5rem;
}

.s4 h1 {
    width: 100%;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--discord-color);
    height: 140px;
}