body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 200px;
    perspective-origin: top;
    transform-style: preserve-3d;
}

.box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    position: absolute;
}

.box:nth-child(1) {
    background: linear-gradient(to right, red, blue);
    transform: rotateY(40deg);
}

.box:nth-child(2) {
    background: linear-gradient(to right, orangered, yellow);
    transform: rotateY(-40deg);
}

/* há a função matrix3d que é um shorthand para a propriedade transform que contempla todas as transformações 3d */